body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

body.light {
    background: #ffffff;
    color: #000;
}

body.dark {
    background: #121212;
    color: #ffffff;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.theme-switch {
    margin: 15px 0 25px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.theme-switch button {
    padding: 6px 10px;
    cursor: pointer;
}
